<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title goal-title">{{goal?.title}}</h2>
          <div class="action" *ngIf="auth.userID">
            <button *ngIf="goal?.creator !== auth.userID && goal?.participants.indexOf(auth.userID) === -1" class="btn btn-primary" (click)="join()">Join</button>
            <button *ngIf="goal?.participants.indexOf(auth.userID) !== -1" class="btn btn-warning" (click)="quit()">Quit</button>
            <button *ngIf="goal?.creator == auth.userID" class="btn btn-danger" (click)="delete()">Delete</button>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">credit: {{goal?.entryCredit}}</li>
            <li class="list-group-item">start: {{goal?.startDate | date: 'M/d/yy'}}</li>
            <li class="list-group-item">end: {{goal?.startDate | date: 'M/d/yy'}}</li>
            <li class="list-group-item">maximum users: {{goal?.maxUser}}</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title goal-title">Team</h2>
          <h5>Created by: photo of creator</h5>
          <img *ngFor="let participant of participants" [src]="participant.photo || '../assets/default-profile.jpeg'" alt="your image"
          />
          <img *ngFor="let participant of participants" [src]="participant.photo || '../assets/default-profile.jpeg'" alt="your image"
          />
          <img *ngFor="let participant of participants" [src]="participant.photo || '../assets/default-profile.jpeg'" alt="your image"
          />
        </div>
      </div>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>GOAL DESCRIPTION</h2>
      <h5>LAST MODIFIED, Dec 7, 2017</h5>
      <p></p>
      <p></p>
      <p>{{goal?.description}} Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco.
      </p>
      <br>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title task-title">Task</h2>
          <button class="btn btn-primary create-task" (click)="createTask()">Create Task</button>
          <div class="task-home">
            <app-goal-forum-home [tasks]="tasks"></app-goal-forum-home>
          </div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>