<mat-form-field appearance="outline">
  <mat-label>Comment</mat-label>
  <textarea rows="4" cols="50" type="text" matInput #comment></textarea >
    <button class="btn btn-info right" (click)="addComment(comment.value)">Add</button> 
</mat-form-field>  

<div *ngFor="let comment of comments"> 
      {{comment.comment}}  
      {{comment.createdTime | date: 'M/d/yy, h:mm a'}}
      {{comment.creatorDetail.name}} 
      <button *ngIf="comment.creatorDetail._id === auth.userID" class="btn"><i (click)="deleteComment(comment)" class="fa fa-trash" aria-hidden="true" style="color: grey"></i> </button> 
</div>