doctype html
html(lang="en")
  head
    meta(charset='utf-8') 
    title CreateAGoal
    base(href='/') 
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    link(rel="stylesheet" href="styles.504ed222038791b76163.css")
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
  body
    app-root(userID=userID)
    script(type="text/javascript" src='runtime.a66f828dca56eeb90e02.js')
    script(type="text/javascript" src='polyfills.2f4a59095805af02bd79.js')
    script(type="text/javascript" src='main.771c842d4fe948c9ad46.js')