<div class="home">
    <div class="jumbotron text-center">
        <h1>Finish Your Goal Today</h1>
        <p>A journey of a thousand miles begins with single step</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" *ngFor="let goal of createdGoals">
                <app-goal [goal]="goal"></app-goal>
            </div>
            <div class="col-sm-4" *ngFor="let goal of joinedGoals">
                <app-goal [goal]="goal"></app-goal>
            </div> 
        </div>
    </div>  
</div>