.mat-form-field {
    width: 100%
}

.centered{  
    margin: auto; 
    width: 40%; 
    margin-top: 5%;
}

.title-group{
    padding: 120px;
} 

.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 25pt;
}  

.cover-picture{
    background-image:url("../../assets/hero-image.jpg");
    height: 400px;
    width: 100%;
    overflow: hidden;
}