<!--The content below is only a placeholder and can be replaced.--> 

<div>  
    <ul>
        <li><a routerLink="home">Create A Goal</a></li>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="public">Public</a></li>  
        <li *ngIf="!user"><a routerLink="signup"> Sign Up</a></li>
        <li *ngIf="!user"><a routerLink="login">Login</a></li>
        <li *ngIf="user"><a routerLink="create-a-goal">Create</a></li>
        <li *ngIf="user"><a routerLink="profile">{{ user.name }}</a></li>
        <li *ngIf="user"><a (click)="logout()">Logout</a></li>
        <img *ngIf="user" [src]="user.photo" />
    </ul>   
</div> 
<div>
    <router-outlet></router-outlet>
</div>
 

