.header{
    padding: 20px;  
}

.cover-picture{
    background-image:url("../assets/hero-image.jpg");
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 25pt;
} 

.title-group{
    padding: 80px;
}

.auth{
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

li {
    float: left; 
}

.profile-photo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover; 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

.center {
    margin: auto;  
    padding: 10px; 
    width: 80%;
} 