<img id="" [src]="url" alt="your image" />

<form [formGroup]="form" (ngSubmit)="onSubmit()"> 
    <div class="form-group"> 
      <input type="file" id="photo" (change)="onFileChange($event)" #fileInput>
      <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
    </div>
    <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
  </form>

  <div class="container centered"> 
      <div> 
          <h1>
              <span class="fa fa-sign-in"></span> user.name </h1>
          <!-- LOGIN FORM -->
          <h1 *ngIf="signupErrorMessage !== null">Sign up failed! {{signupErrorMessage}}</h1>
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
              <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input type="text" matInput formControlName="name" required>
                  <mat-error>I'd like to know your name</mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" required>
                  <mat-error>Keep in touch!</mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput formControlName="password" required>
                  <mat-error>Don't forget about your password!</mat-error>
              </mat-form-field>
  
              <button class="btn btn-danger btn-lg" mat-button type="submit" [disabled]="!signupForm.valid">Submit</button>
          </form>
  
          <hr>
  
          <p>Already have an account?
              <a routerLink="../login">Login</a>
          </p>
  
      </div>
  </div>