<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
    
        <h1><span class="fa fa-sign-in"></span> Login</h1> 
    
        <!-- LOGIN FORM -->
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="username" required>
                    <mat-error>Use your username or email to log in</mat-error>
                </mat-form-field>
     
    
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" required>
                    <mat-error>Don't forget about your password!</mat-error>
                </mat-form-field>
    
                <button class="btn btn-danger btn-lg" mat-button type="submit" [disabled]="!loginForm.valid">Submit</button>
            </form>
    
        <hr>
    
        <p>Need an account? <a routerLink="../signup">Signup</a></p>
        <p>Or go <a routerLink="home">home</a>.</p>
    
    </div>
    
    </div>
