<div class="container"> 
  <h1><span></span> Create a goal</h1>
  <form [formGroup]="createAGoalForm" (ngSubmit)="onCreateAGoal()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title" required>
      <mat-error>Give your goal a title</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea rows="4" cols="50" type="text" matInput formControlName="description"></textarea >
      <mat-error>Keep in touch!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Choose a start time</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Choose a end time</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Max number of participants </mat-label>
      <input type="number" matInput formControlName="maxUser"> 
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> Entry credits </mat-label>
        <input type="number" matInput formControlName="entryCredit"> 
    </mat-form-field>

    <button class="btn btn-danger btn-lg" mat-button type="submit" [disabled]="!createAGoalForm.valid">Submit</button>
  </form> 

  </div>